.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption:hover {
  /* background-color: #e8f5fe; */
  border-radius: 30px;
  color: var(--chirper_color);
  transition: color 100ms ease-out;
  /* border: 6px solid lightblue; */
}

.sidebarOption--active {
  color: var(--chirper_color);
}

.sidebarOption .MuiSvgIcon-root {
  padding: 20px;
}

.sidebarOption h2 {
  font-weight: 700;
  font-size: 20px;
  margin-right: 20px;
}
